body {
    color: white;
    background-color: black;
    width: 100%
}
.main {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task3, #task4, table {
    display: none;
}

table, td{
    border: 1px solid;
    border-collapse: collapse;
    font-size: 20px;
    width: auto;
}
td, th {
    padding-inline: 0.5%;
}
table {
    margin-top: 2%;
}
p {
    font-size: 22px;
}
h1 {
    font-size: 30px;
}

details {
    font-size: 22px;
}
.input p {
    margin-block: 0.5%;
}