body {
    color: white;
    background-color: black;
    width: 100%
}
.main {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin-top: 2%;
    background-color: greenyellow;
    border-radius: 15px;
    width: fit-content;
}

.tasks {
    background-color: #0f0f0f;
    border-radius: 15px;
    margin-block: 1.5%;
    margin-inline: 1.5%;
    padding: 2%;

}

.input {
    background-color: #2a181e;
    border-radius: 15px;
    padding: 1%;
    width: fit-content;
}
.authTabs {
    cursor: pointer;
}
.input button {
    font-size: 22px;
    background-color: #2a181e;
    color: antiquewhite;
    border: 3px solid;
    border-color: green;
    border-radius: 10px;
    margin-top: 2%;
}
.input button:hover {
    background-color: lightslategray;
}

details {
    background-color: black;
    border: 5px solid white;
    width: 95%;
    border-radius: 15px;
    padding: 2%;
}

.task4details {
    padding: 1%;
    border-top: 5px solid greenyellow;
}
.task4details h3 {
    margin-block: 1%;
}


#task3, #task4, table {
    display: none;
}

table, td{
    border: 1px solid;
    border-collapse: collapse;
    font-size: 20px;
}
td, th {
    padding-left: 1%;
}
table {
    margin-top: 2%;
}
p {
    font-size: 22px;
    width: fit-content;
}
h1 {
    font-size: 30px;
}

details {
    font-size: 22px;
}
.input p {
    margin-block: 0.5%;
}
.input h2 {
    margin-block: 0.5%;
}